<div ui-view>
	<div class="yg-p-home-list">
		<ul class="home-p-thead fn-clear">
			<li>科目</li>
			<li>班级</li>
			<li>人数</li>
			<li>开班时间</li>
			<li>毕业时间</li>
		</ul>
		<ul class="home-p-tbody fn-clear" ng-repeat="obj in classData | orderBy:'ctn'">
			<li><a ui-sref="home.class({ctn:obj.ctn})">{{['','html5','android','ios','ui','java'][obj.ctn.split('-')[0]]}}</a></li>
			<li>{{obj.ctn.split('-')[1]}}</li>
			<li>{{obj.count}}</li>
			<li>{{obj.cst|date:'yyyy-MM-dd'}}</li>
			<li>{{obj.cet|date:'yyyy-MM-dd'}}</li>
		</ul>
	</div>
</div>