.yg-p-home-info {
    .info-datas{
        padding: 10px 15px;
        font-size: 16px;
        .datas-box{
            .info-count{
                padding: 0px 5px;
            }
        }
    }
    .list-p-thead,
    .list-p-tbody {
        border-bottom: 1px solid #e7e1e1;
        li {
            float: left;
            padding: 10px 0;
            width: 25%;
            text-align: center;
            a {
                color: #0087e3
            }
        }
        li:nth-child(2) {
            width: 30%;
        }
        li:nth-child(3) {
            width: 25%;
        }
        li:nth-child(4) {
            width: 20%;
        }
    }
}
