<div class="yg-p-home-info">
	<div class="info-datas">
		<div class="datas-box">
            <span ng-repeat="(key,val) in count" class="info-count">{{key}}:{{val}}</span>
		</div>
	</div>
    <ul class="list-p-thead fn-clear">
    	<li>姓名</li>
    	<li>电话</li>
        <li>科目</li>
        <li>班级</li>
    </ul>
    <ul class="list-p-tbody fn-clear" ng-repeat="obj in dataArrs | orderBy:'ct':'cn'">
    	<li>{{obj.sn}}</li>
    	<li>{{obj.sp}}</li>
        <li>{{['','html5','android','ios','ui','java'][obj.ct]}}</li>
        <li>{{obj.cn}}</li>
    </ul>
</div>
