<div class="yg-p-home">
	<div ui-view>
		<img class="logo" src="/static/app/images/logo.png" alt="">
		<section class="infoBox">
			<h1>WHO ARE WE</h1>
			<p class="info">银谷时空教育信息咨询有限公司是一家从事IT教育培训的专业机构。公司立足科技研发，哺育IT人才培训。坚持教研集合的发展路径。始终以就业和企业解决方案为导向、以人才为根本、以技术为核心，着力培养深受软件企业欢迎的实用型人才，解决IT企业最热门技术的难点。立足于中国IT教育技术的最前沿，为在校大学生、应届毕业生、社会就业者提供最热门、高实战性、高性价比的IT培训服务。致力于打造业内的好品牌。</p>
			<p class="info">课程主要以实战项目为主，课程全部采用当前最前沿的技术，讲师都具有多年的项目实战经验，课程的培训重点定位于提升学员的实际工作能力，辅以系统化的职业素养教育，为互联网发展培养创新型人才。</p>
		</section>
	</div>
</div>