form.loginBox {
    width: 80%;
    display: block;
    margin: 20px auto;
    input {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 6px 4px;
        line-height: 18px;
        border: 1px solid #bbb;
        color: #666;
    }
    .loginBtn {
        background: #bbb;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        border-radius: 4px;
        font-size: 16px;
        color: #fff;
    }
    .loginBtn.active {
        background: #0087E3;
    }
}
