doctype html
html(ng-app='login_h5')
  head
    title 银谷时空
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(name="apple-touch-fullscreen",content="YES")
    meta(name="format-detection",content="telephone=no")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-touch-fullscreen",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black")
    link(rel="stylesheet",href='/static/app/app.min.css')
    script(src='/static/app/bower_components/angular/angular.js')
    script(src='/static/app/bower_components/angular-ui-router/release/angular-ui-router.js')
  body
    header
      span 银谷学生管理系统
      div.userinfo
        span= username
        span.goback(ng-click='logout()') 退出
    div.body
      div(ui-view)
    ul.home-nav.fn-clear
      li
        a(ui-sref="home",ui-sref-active="active") 银谷科技
      li
        a(ui-sref="home.info",ui-sref-active="active") 个人中心
      li
        a(ui-sref="home.list",ui-sref-active="active") 开班列表
    //- footer ©2016 银谷科技版权所有
    script(src='/static/app/app.min.js')